
/* Estilos para body*/

body {
    background-color: #040405;
    


}
div{

    display: flex;
    justify-content: center;
    align-items: center;
    
    
    
   
      

}
header nav {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
main {
    display: flex;
}


/* Botones */

button{
       background-color: #1E1E1E;
       color: white;
       padding: 15px 30px;
       border: none;
       border-radius: 20px;
       display: flex; 
       height: 200;
       align-items: flex-start;
       margin-top: 20px;
       
}


/* Cambiar el color del texto */
span{
     color: white;
     font-size: 30px;

}
/* estilos para el encabezzado */

h1 {
    color:white


    
}
/* Estilos para H3*/

h3{
    color: white;
    display: flex;
    align-items: center; /* Centra las imágenes horizontalmente */
}

.imagenes {
    display: flex; /* Las imágenes estarán en una fila */
    justify-content: space-around; /* Distribuye las imágenes uniformemente */
}
/* Estilos para h2*/
h2{ 
    color: white;
     
}

input{
    color: black;
    border: 1px;
    padding: 0%;
    height: 30px;


}


/* Estilos para Play*/

div{

    margin: 0 10px;

}



/* Estilos para footer*/

footer{
    display: flex;
    justify-content: center;
    margin-top: 300px;
    text-align: center;
}

.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los elementos horizontalmente */
  }

.Artistas{

    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;    
  }
.Artistas > div {
    display: flex;
    flex-direction: column;
}



#container {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
}
.song {
    display: flex;
    flex-direction: column;
    width: 100px;
    color: white;
}
.song img {
    width: 100%;
}



    



